#theme = "autumn_night"
#theme = "base16_default_dark"
#theme = "darcula-solid"
#theme = "gruber-darker"
#theme = "mellow"
theme = "rasmus"

[editor]
cursorline = true
line-number = "relative"
mouse = false
rulers = [80]
true-color = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

